.green-button {
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  border: none;
  cursor: pointer;
  background-color: $emerald;
  color: $white;
  padding: 1.25rem 3rem;
  font-size: 1.4rem;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
}
