html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: $boulder;
  padding: 3rem;
  color: $boulder;
}

main {
  background-color: $alabaster;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2.75rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
