@import './../../styles/variables/_index.scss';

.tour-header {
  position: relative;
  height: 38vw;
  min-height: 30rem;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9vw), 0 100%);
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(to right bottom, #7dd56f, #28b487);
    opacity: 0.85;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__heading-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    color: $white;
    text-transform: uppercase;
    font-weight: 300;
    width: 25%;
    text-align: center;
    margin-top: -2.5vw;
    font-size: 2.7vw;

    span {
      padding: 1rem 1.5rem;
      line-height: 1;
      box-decoration-break: clone;
      background: linear-gradient(
        to bottom right,
        rgba(125, 213, 111, 0.85),
        rgba(40, 180, 135, 0.85)
      );
    }
  }

  &__details-container {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);

    > span:nth-child(2) {
      margin-right: 4rem;
    }

    svg {
      height: 2rem;
      width: 2rem;
      fill: currentColor;
      filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
      margin-right: 0.8rem;
    }
  }
}

.tour-description {
  display: flex;
  margin-top: -9vw;

  &__left-container {
    flex-basis: 50%;
    padding: 14vw 4rem 9vw 4rem;
    background: $alabaster;
    display: flex;
    justify-content: center;
  }

  &__left-detail {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: 2.25rem;
    }

    svg {
      margin-right: 1.25rem;
      height: 2.25rem;
      width: 2.25rem;
      fill: #55c57a;
    }

    img {
      border-radius: 50%;
      height: 3.5rem;
      margin-right: 1.25rem;
    }

    > span:nth-child(2) {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.4rem;
    }

    > span:nth-child(3) {
      margin-left: 2.25rem;
      text-transform: capitalize;
    }
  }

  &__right-container {
    background: $white;
    flex-basis: 50%;
    padding: 14vw 4rem 9vw 4rem;
  }
}

.tour-pictures {
  display: flex;
  position: relative;
  z-index: 3;
  clip-path: polygon(0 9vw, 100% 0, 100% calc(100% - 9vw), 0 100%);
  margin-top: -9vw;
  min-height: 25rem;

  > div:first-child {
    img {
      padding-top: 18%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tour-map {
  display: flex;
  clip-path: polygon(0 9vw, 100% 0, 100% calc(100% - 9vw), 0 100%);
  margin-top: -9vw;
  position: relative;
  z-index: 2;
  // height:100vw;
  // overflow: hidden;

  &__scroll-button {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    transform: rotate(-6deg);
    margin-top: 4px;
    color: black;
    font-weight: bold;

    &:hover {
      opacity: 0.8;
    }
  }

  .marker {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
  }

  .marker img {
    max-width: 100%;
    position: absolute;
    bottom: 20px;
    left: -20px;
  }

  .mapboxgl-popup {
    max-width: 25rem;
  }

  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 1.5rem !important;
    font-size: 1.4rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  }
}

.tour-reviews {
  margin-top: -9vw;
  padding: 14vw 0;
  position: relative;
  z-index: 1;
  background: linear-gradient(to right bottom, $pastel-green, $jungle-green);
  clip-path: polygon(0 9vw, 100% 0, 100% calc(100% - 9vw), 0 100%);

  .scroll-horizontal > div {
    padding: 5rem 0;
    display: grid !important;
    grid-column-gap: 6rem;
    grid-auto-flow: column;

    &:after,
    &:before {
      content: '';
      width: 2rem;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 30rem;
    background: $alabaster;
    padding: 4rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all 0.4s;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      transform: translateY(-6px);
    }

    &-avatar {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
    }

    &-img {
      height: 4.5rem;
      border-radius: 50%;
      margin-right: 1.5rem;
    }

    &-user {
      font-weight: 700;
      text-transform: uppercase;
    }

    &-text {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      font-style: italic;
      font-weight: 400;
    }

    &-rating {
      margin: auto auto 0 auto;

      svg {
        height: 2rem;
        width: 2rem;
        margin-right: 1px;

        &.active {
          fill: $emerald;
        }

        &.inactive {
          fill: $silver;
        }
      }
    }
  }
}

.tour-cta {
  padding: 7vw 2rem 5vw 2rem;
  background-color: $alabaster;

  &__container {
    width: 100%;
    max-width: 105rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: $white;
    padding: 5rem 5rem 5rem 0;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  }

  &__images {
    position: relative;
    padding-right: 4.5rem;

    &-logo {
      height: 15rem;
      width: 15rem;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        to right bottom,
        $pastel-green,
        $jungle-green
      );
      z-index: 3;
      border-radius: 50%;
      transform: translate(-35%, 0);
      position: relative;
    }

    &-img {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      position: absolute;
      left: 1rem;
      top: 0;
      box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);

      &.--image-1 {
        transform: translate(-20%, 0);
        z-index: 2;
      }

      &.--image-2 {
        z-index: 1;
      }
    }
  }

  &__content {
    padding-right: 1rem;

    p {
      font-size: 1.9rem;
      margin-bottom: 0;
    }
  }

  &__button {
    flex-grow: 1;
    text-align: right;

    button {
      font-size: 1.6rem;
      padding: 1.4rem 3rem;
      border-radius: 10rem;
      min-width: 20.5rem;
    }
  }
}

@media screen and(max-width:1023px) {
}

@media screen and(max-width:767px) {
  .tour-header {
    &__heading {
      width: 100%;
      font-size: 3rem;
    }
  }

  .tour-description {
    flex-direction: column;

    &__right-container {
      text-align: center;
    }
  }

  .tour-reviews .scroll-horizontal > div {
    grid-gap: 3rem;

    &:before {
      width: 0.5rem;
    }
  }

  .tour-cta {
    &__container {
      flex-direction: column;
      padding: 5rem 0 5rem 0;
    }

    &__images {
      padding-right: 0;
      transform: translate(13%, 0);
    }

    &__content {
      text-align: center;
      padding: 3rem 1.5rem;
    }
  }
}
