@import './../../styles/variables/_index.scss';

.tours {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  grid-gap: 7rem 5.5%;
  padding: 8rem 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.tour {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  transition: 0.3s all;

  &__header {
    position: relative;
    background: $white;

    &-picture-container {
      clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
      height: 22rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-picture-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to right bottom, #7dd56f, #28b487);
      opacity: 0.7;
    }

    &-title {
      position: absolute;
      bottom: 1rem;
      right: 2rem;
      width: 70%;
      text-align: right;
      text-transform: uppercase;
      font-weight: 300;
      color: $white;

      span {
        line-height: 1;
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        background-image: linear-gradient(
          to bottom right,
          rgba(125, 213, 111, 0.85),
          rgba(40, 180, 135, 0.85)
        );
      }
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.75rem;
    grid-column-gap: 2rem;
    padding: 2.5rem 3rem;
    background: $white;

    &-sub-heading {
      grid-column: 1 / -1;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    &-summary {
      grid-column: 1 / -1;
      font-size: 1.5rem;
      font-style: italic;
      margin-top: -1rem;
      margin-bottom: 0.75rem;
    }

    &-data {
      display: grid;
      grid-template-columns: auto 1fr;
      font-size: 1.3rem;

      svg {
        height: 2rem;
        width: 2rem;
        fill: $emerald;
        margin-right: 0.7rem;
      }
    }
  }

  &__footer {
    background: $alabaster;
    padding: 2.5rem 3rem;
    border-top: 1px solid $concrete-lighter;
    font-size: 1.4rem;
    display: grid;
    grid-template-areas:
      'a c'
      'b c';

    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    &-per-person {
      grid-area: a;
    }

    &-ratings {
      grid-area: b;
    }

    &-details {
      grid-area: c;
    }

    &-value {
      font-weight: 700;
    }

    &-text {
      color: $dusty-gray;
    }

    &-ratings {
      grid-row: 2 / 3;
    }

    .green-button {
      grid-row: 1 / 3;
      justify-self: end;
      align-self: center;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
  }
}

@media screen and(max-width:479px) {
  html {
    font-size: 50%;
  }
  .tours {
    grid-template-columns: none;
  }
}
