@import './../../styles/variables/_index.scss';

.footer {
  background-color: $alabaster;
  padding: 6em 4em 3em 4em;
  font-size: 1.4em;
  display: flex;
  align-items: center;

  &__logo {
    width: 12em;
  }

  &__content {
    text-align: right;
    flex-grow: 1;

    p {
      font-size: 1em;
      color: $dusty-gray;
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.2em;

    li {
      margin-left: 1.2em;

      a {
        color: $boulder;
        text-decoration: none;
        transition: all 0.2s;
        &:hover {
          color: $emerald;
        }
      }
    }
  }
}

@media screen and(max-width:991px) {
  .footer {
    flex-direction: column;
    align-items: center;

    &__nav {
      margin: 1em 0;
      justify-content: normal;
    }
  }
}

@media screen and(max-width:767px) {
  .footer {
    &__content {
      text-align: center;
    }

    &__nav {
      flex-direction: column;
      align-items: center;
      li {
        margin-left: 0;
      }
    }
  }
}
