$emerald: #55c57a;
$white: #ffffff;
$boulder: #777777;
$alabaster: #f7f7f7;
$alabaster-lighter: #fcfcfc;
$dusty-gray: #999999;
$alto: #e0e0e0;
$mountain-meadow: #20bf6b;
$cinnabar: #eb4d4b;
$burning-orange: #ff7730;
$silver: #bbbbbb;
$pastel-green: #7dd56f;
$jungle-green: #28b487;
$sea-green: #2e864b;
$tundora: #444444;
$concrete: #f2f2f2;
$concrete-lighter: #f1f1f1;
