@import './../../styles/variables/_index.scss';

.header {
  background-color: #444;
  padding: 0 5em;
  height: 8em;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > nav {
    flex: 1 1 22em;
  }

  &__logo-contaner {
    text-align: center;
  }

  &__nav-right {
    text-align: right;
  }

  &__logo {
    width: 6.8em;
    height: 3.5em;
  }

  &__link {
    color: $alabaster;
    text-transform: uppercase;
    font-size: 1.6em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      text-shadow: 0 0.7em 1em black;
    }

    &.--signup {
      padding: 0.6em 1.7em;
      border-radius: 10em;
      border: 1px solid $alabaster;
      transition: all 0.3s;
      margin-left: 1.5em;

      &:hover {
        background: $alabaster;
        color: $boulder;
        text-shadow: none;
      }
    }
  }
}

@media screen and(max-width:767px) {
  .header {
    font-size: 70%;
  }
}

@media screen and(max-width:479px) {
  .header {
    padding: 0 2em;
    &__nav-left {
      display: none;
    }
  }
}
