h2.green-h2 {
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(to right, #7dd56f, #28b487);
  background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.mb-3-5 {
  margin-bottom: 3.5rem;
}

.mt-5 {
  margin-top: 5rem;
}
